<p style="color: green"><%= notice %></p>

<h1>Imported Documents</h1>

<div id="imported_documents">
  <% @imported_documents.each do |document| %>
    <%= render document %>
    <p>
      <%= link_to "Show this document", document %>
    </p>
  <% end %>
</div>
