<p style="color: green"><%= notice %></p>

<h1>Xmls</h1>

<div id="xmls">
  <% @xmls.each do |xml| %>
    <p>Imported at:</p>
    <%= xml.created_at.to_date %>
    <p>
      <%= link_to "Show this xml", xml %>
    </p>
  <% end %>
</div>

<%= link_to "New xml", new_xml_path %>
