<p style="color: green"><%= notice %></p>

  <ht2>Access Key</ht2>
  <p><%= @xml.access_key %></p>
<div>
  <%= link_to "Back to xmls", xmls_path %>

  <%= button_to "Destroy this xml", @xml, method: :delete %>
</div>
